@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer localizer
@{
    ViewData["Title"] = @ViewData["Title"];
    }
<div class="text-center">
        <h1 class="display-2">@ViewData["Title"]</h1>
    <p class="display-4">@localizer["GreetingMessage"]</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
