@page
@model WHMSolution.Pages.StockMaster.ImportModel
@{ 
}



<!DOCTYPE html>
<html>
<head>
    <title>Import excel to StockMaster</title>
</head>
<body>
    <h1>Import excel to Stock Master</h1>
    <form enctype="multipart/form-data" method="post">
        <dl>
            <dt>
                <label asp-for="FileUpload.FormFile"></label>
            </dt>
            <dd>
                <input asp-for="FileUpload.FormFile" type="file">
            </dd>
        </dl>
        @*asp-page-handler="Upload"*@
        <input class="btn" type="submit" value="Upload">
    </form>
    <div >
        <a asp-page="/StockMaster/Index"> Back to Index</a>
    </div>
</body>
</html>
