@page
@model WHMSolution.Pages.StockMaster.IndexModel
@{
}
<div class="text-center">
    <h1 class="display-4">Welcome Stock Master</h1>
    <p>Here... you maintain stock master items <a> </a></p>
    @*//Display All StockMaster*@
    <a asp-page="/StockMaster/Import"> Import Excel</a>
</div>
