@page "/todo"
@using BlazorServerAppDemo.Models;

<h3>Todo</h3>
<ul>
    @foreach (var todo in todos)
    {
        <li>
            <input type="checkbox" @bind="todo.IsDone" />
            <input @bind="todo.Title" />
        </li>
    }
</ul>

<input placeholder="Something todo" @bind="newTodo"/>
<button @onclick="AddTodo">Add todo</button>

@code {
    private List<TodoItem> todos = new();
    private string? newTodo;
    private void AddTodo()
    {
        if (!string.IsNullOrWhiteSpace(newTodo))
        {
        // Todo: Add the todo
        todos.Add(new TodoItem()
            {
                IsDone = false,
                Title = newTodo,
            });
        }
    }
}