@{
    ViewData["Title"] = "Notification Page";
}

<table id="tblNotification" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>From</th>
            <th>Title</th>
            <th>Detail</th>
            <th>IsRead</th>
            <th>Notification DateTime</th>
        </tr>
    </thead>
    <tbody id="tblNotificationBody">
    </tbody>
</table>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetNotifications", "Notification")",
            traditional: true,
            contentType: "application/json;character=utf-8",
            success: function (data) {
                var notifications = data;
                $.map(notifications, function (notification) {
                    let tr = document.createElement('tr');
                    var tdUserName = document.createElement('td');
                    var tdHeader = document.createElement('td');
                    var tdBody = document.createElement('td');
                    var tdReadSt = document.createElement('td');
                    var tdDateSt = document.createElement('td');

                    tdUserName.innerHTML = NotificationDEMO.fromUserName;
                    tdHeader.innerHTML = NotificationDEMO.notiHeader;
                    tdBody.innerHTML = NotificationDEMO.notiBody;
                    tdReadSt.innerHTML = NotificationDEMO.isReadSt;
                    tdDateSt.innerHTML = NotificationDEMO.createDateSt;
                    tr.appendChild(tdUserName);
                    tr.appendChild(tdHeader);
                    tr.appendChild(tdBody);
                    tr.appendChild(tdReadSt);
                    tr.appendChild(tdDateSt);
                    document.getElementById('tblNotificationBody').appendChild(tr);
                });
            },
            error: function (a, b, c) {
            }
        });
    });
</script>