<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet" />
    <title>@ViewData["Title"] - MVCWeb</title>
    <style>
        
        section{
            padding:60px 0;
        }
        
    </style>
</head>
<body>
    <!--Nav bar-->
    <nav class="navbar navbar-expand-md navbar-light">
        <div class="container-xxl">
            <a href="#" class="navbar-brand">
                <span class="fw-bold text-secondary">
                    Lam Hong Bac
                </span>

            </a>
            <!--toggle for mobile-->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#main-nav" aria-controls="main-nav" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <!--nav item and link-->
            <div class="collapse navbar-collapse justify-content-end align-center"
                id="main-nav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Transaction" asp-action="Index"> MVC PopUp Demo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#topic"> Reviews</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#topic"> Get In touch</a>
                    </li>
                    <!--d-md-inline:(md: display none-->
                    <li class="nav-item d-md-none">
                        <a class="nav-link" href="#pricing"> Pricing</a>
                    </li>
                    <!--d-none:trong cac dieu kien khac deu kg display-->
                    <!--d-md-inline:md:  display inline-->
                    <li class="nav-item ms-2 d-none d-md-inline">
                        <a class="btn btn-secondary" href="#pricing"> Pricing</a>
                    </li>
                </ul>

            </div>
        </div>
        
    </nav>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer>

    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
   
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>