@page
@model WHMSolution.Pages.StockTrans.StockTransDetailModel
@{
}
<!DOCTYPE html>
<html>
<head>
    <title>Export excel to StockMaster</title>
</head>
<body>
    <h1>Export Stock Transaction</h1>


    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>


        <div class="form-group">
            <label asp-for="FromDate" class="control-label">  From Date </label>

            <input asp-for="FromDate" class="form-control" type="datetime-local"
                   name="beginDate" />
            @Html.ValidationMessage("beginDate")
        </div>
        <div class="form-group">
            <label asp-for="ToDate" class="control-label">  To Date </label>
            <input asp-for="ToDate" class="form-control" type="datetime" name="endDate" />
            @Html.ValidationMessage("endDate")
        </div>
        <div class="form-group">
            <label asp-for="TCode" class="control-label"> TCode </label>
            <input asp-for="TCode" class="form-control" type="text" name="tCode">
            @Html.ValidationMessage("tCode")
        </div>

        <div class="form-group">
            <label asp-for="StoreNo" class="control-label"> Store No </label>
            <input asp-for="StoreNo" class="form-control" type="text" name="storeNo">
            @Html.ValidationMessage("storeNo")
        </div>

        <div class="form-group">
            
            <input class="btn btn-primary" type="submit" value="Export...">
        </div>

    </form>
    
</body>
</html>